<button class="button" (click)="newGame()">New Game</button>

<div class="score">
    <p>Score: {{score | number : '1.0-0'}}</p>
    <p>Best Score: {{best | number : '1.0-0'}}</p>
</div>

<div class="grid-container">
    <div class="grid-bg">
        @for (column of gridBg; track $index) {
        <div class="column">
            @for (tile of column; track $index) {
            <div class="tile"></div>
            }
        </div>
        }
    </div>

    <div class="grid-game">
        @for (tile of flatGrid; track tile.id) {
        <div [ngClass]="{'is-new': tile.isNew}" class="tile position-{{tile.x}}-{{tile.y}} value-{{tile.value}}">
            {{ tile.value }}
        </div>
        }
    </div>

    @if (gameOver) {
    <div class="game-over">
        <p class="text">Game Over</p>
    </div>
    }
</div>

<div class="buttons">
    <button (click)="move('left')" class="button button-direction">left</button>
    <div class="vertical-buttons">
        <button (click)="move('up')" class="button button-direction">up</button>
        <button (click)="move('down')" class="button button-direction">down</button>
    </div>
    <button (click)="move('right')" class="button button-direction">right</button>
</div>

<p><small>Use keys up, down, left and right to move tiles, or A, W, S, D.</small></p>
